

body {
    font-family: 'Ubuntu', sans-serif;
    /* 'Sen' */
}

#section1 {
    background-color: #6690b9;
    color: white;
}


h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 4rem;
    line-height: 1.5;
    color: #dd9d71 !important;
    text-align: right;
    
}

h2 {
    font-family: 'Varela Round', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    margin:30px;
}

h3 {
    font-family: 'Varela Round';
    font-weight: bold;
    margin-top: 10px;
}

p {
    font-family: 'Rubik';
    color: gray;
    font-size: 1.1rem;

}

.container-fluid {
    padding: 1% 12%;

}



/* Navbar Style */

.navbar {
    padding: 0 0 4.5rem;
    /* position: sticky;
    top:0; */
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}

/* @keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }

} */

.nav-item {
    padding: 0 18px;
}

.nav-item2 {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #dd9d71;
}


.donate-button {
    margin-top: 10px;
    width:250px;
    margin-left: 55%;
}

.title {
    color: #2a435c;
    font-weight: bold;
    margin: 0% 0% 0%;
    
}

.title-image {
    width: 480px;
    height: 380px;
    border-radius: 50px;
    margin-right: 30%;
}

.img-title {
    max-width: 100%;
    max-height: 100%;
    /* display: table; */
    margin: 0 auto;
    margin-bottom: 20px;
}


@media (max-width: 1028px) {

    h1 {
        font-family: 'Rubik', sans-serif;
        font-size: 2.5rem;
        line-height: 1;
        color: #dd9d71 !important;
        text-align: right;
        margin-left: 0%;

    }

    h2 {
        margin-top: 20px;
    }

    p {
        font-size: 0.9rem;
        text-align: center;
        margin: auto;   
        margin-bottom: 5%;
    }
    
    .navbar {
        padding: 0 0 2.5rem;

    }

    .nav-item {
        padding-left: 60%;
        text-align: right;
    }

    .nav-item2 {
        padding-left: 60%;
        text-align: right;
    }

    .title-image {
        width: 400px;
        height: 220px;  
        border-radius: 50px;
        margin-bottom: 10%;
    }

    .img-title {
        max-width: 100%;
        max-height: 100%;
        display: table;
        margin-bottom: 10%;
        /* margin: 0 auto; */
    }

    .title {
        color: #2a435c;
        font-weight: bold;
        margin: 0% 0% 0%;
        padding: auto;
    }

    .donate-button {
        /* margin-top: 10px;
        margin-left: 5%;
        margin-bottom: 20px; */
        margin: auto;
        margin-bottom: 8%;
        width: 100%;
    }
}

/* ghost-section */
#ghost-section  {
    padding: 2% 10%;
    text-align: center;
    background-color: #426a90;
    color: white;

}

/* Features Section */

#features {
    /* background-color: gainsboro; */
    padding: 5% 20%;
    
}

.feature-box {
    text-align: center;
    padding: 4%;
    /* border: solid gray 1px; */
    /* margin: 0 2px; */
}

.icon {
    /* padding: 3%; */
    color: lightblue;
    padding-bottom: 5px;
}

.icon:hover {
    color: #426a90;
}

.small-icon {
    color: white;
    background: #233f58;
    /* padding: 10px; */
    /* border-radius: 50%; */
    /* border: solid 2px;  */
    /* border-radius: 20px;  */
    /* padding: 10px */

}

.small-icon:hover {
    background: #dd9d71;
    padding:30px;
    border-radius: 50%;
}


/* The Process Section */

#process {
    padding: 4% 15%;
    text-align: center;
    background-color: #8cb4dd;
    color: white;

}

#process2 {
    padding: 4% 15%;
    text-align: center;
    background-color: #8cb4dd;
    color: white;

}

.title-process {
    font-size: 2rem;
}


.process-image {
   margin-top: 12%;
}

.circle { 
    width: 150px;
    height: 150px;
    background: #354e63; 
    -moz-border-radius: 70px; 
    -webkit-border-radius: 70px; 
    border-radius: 90px;
    margin-left: 35%;
 }

 /* .circle1 { 
    width: 150px;
    height: 150px;
    background: #354e63; 
    -moz-border-radius: 70px; 
    -webkit-border-radius: 70px; 
    border-radius: 90px;
    margin-left: 35%;
 } */

 @media screen and (min-width: 0px) and (max-width: 400px) {
    #process2 { display: none; }
    #row1 { display: none; }
  }
   
  @media screen and (min-width: 401px) and (max-width: 1728px) {
    #process2 { display: none; }
    #row2 { display: none; }
  }

@media (max-width: 1028px) {
    .process-image {
        width: 70%;
        height: 70%;
        margin-top: 12%;
    }

    .title-process {
        font-size: 1.3rem;
    }

    .circle { 
        width: 110px;
        height: 110px;
        background: #354e63; 
        -moz-border-radius: 70px; 
        -webkit-border-radius: 70px; 
        border-radius: 90px;
        margin: auto;
        margin-top: 6%;
        margin-bottom: 3%;
    }
    
}


/* Press Section */

#businesses {
    /* background-color: #426a90; */
    text-align: center;
    padding-bottom: 6%;
    padding-top: 4%;
}

.businesses-logo {
    width: 10%;
    margin: 40px 20px 30px;
}

.joinus-button {
    color: white;
    background-color: #dd9d71;
    width: 100px;
    height: 40px;
    border-radius: 0;
    margin-top: -68px;
    margin-left: 27%;
}

.joinus-button:hover {
    background-color: rgb(155, 100, 48);
}

.input-group{
    /* margin-left: 20%; */
    width: 60%;
    margin-left: 10%;
    margin-bottom: 10px;
}

.form-control {
    width: 200px;
    height: 40px;
}

.form-button {
    display: inline-block;
    color: white;
    background-color: #dd9d71;
    width: 450px;
    height: 40px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    border: 0;
    box-shadow: none;
    border-radius: 0px;
    margin-right: 20%;

}

.form-button:hover {
    background-color: rgb(155, 100, 48);
}

.form-button:focus {
    color: white;
    background-color: rgb(155, 100, 48);
    width: 101px;
    height: 41px;
    border: solid 3px lightblue;
    outline: none;
    
}

.join-us {
    width: 15%;
    margin: 20px 10px 15px;
}

.joinus-title {
    font-size: 1.5rem;
    text-align: right; 
    padding-right: 10%; 
    padding-top: 0;
    padding: 5% 13%;

}

.joinus-par {
    text-align: right; 
    padding-right: 30%; 
    padding-top: 8%;
}

.email-join {
    width: 15%;
    margin: 20px 10px 15px;
}

.vl {
    border-left: 1px solid #233f58;
    height: 120px;
    margin-top: 20px;
    margin-left: 30px;
  }


@media (max-width: 1028px) {
    #businesses {
        /* background-color: #426a90; */
        text-align: center;
        padding-bottom: 8%;
        padding-top: 6%;
    }
    
    .businesses-logo {
        width: 15%;
        margin: 20px 10px 15px;
    }

    .vl {
        border-left: 0px;
        border-bottom: 1px solid #233f58;
        width: 170px;
        margin-left: 100px;
        
      }

      .input-group{
         width: 90%;
         margin: auto; 
         margin-bottom: 10px;
    }

      .joinus-button {
        margin: 0;
      }
      
      .form-control {
        width: 100%;
      }

      .form-button {
        margin: auto;
        width: 90%;
      }

      .joinus-title {
        font-size: 1.3rem;
        text-align: center;
        padding: 5% 13%;
    }

    .joinus-par {
        text-align: center;
        /* padding-left: 15%; */
        padding: 5% 13%;
    }

      .p {
          text-align: left;
      }
}


/* Donation Section */

#donation {
    padding: 4% 18%;
    text-align: center;
    background-color: #6690b9;
    color: white;
}

.donate {
    margin: 0 0 0 80px;
    max-width: 500px; 
    min-width: 310px; 
    max-height:none!important;
    
}

@media (max-width: 1028px) {
  
    .donate {
        margin: 0 0 0 auto;
        max-width: 400px; 
        min-width: 50%; 
        max-height:none!important
    } 
}

        
/* Footer Section */

#footer {
    padding: 4% 8%;
    text-align: center;
}

.social-icon {
    margin: 20px 10px;
    
  }

.social-icon:hover {
    margin: 20px 10px;
    color:#dd9d71;
  }

.p-footer {
    font-family: 'Ubuntu';
    color: gray;
    font-size: 1rem;
    text-align: center;
}
  
  @media (max-width: 1028px) {
  
    #title {
      text-align: center;
    }
  
    .title-image {
      position: static;
      transform: rotate(0);
    }
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
  }
  
  .carousel-control-next-icon:after
  {
    content: '>';
    font-size: 55px;
    color: #6690b9;
  }
  
  .carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: #6690b9;
  }

  @media (max-width: 1028px) {
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      height: 100px;
      width: 100px;
      padding-top: 25px;
      outline: black;
      background-size: 100%, 100%;
    }
    
    .carousel-control-next-icon:after
    {
      content: '>';
     
      font-size: 30px;
      color: #6690b9;
    }
    
    .carousel-control-prev-icon:after {
      content: '<';
      font-size: 30px;
      color: #6690b9;
    }
  }
